/* 隐藏右边下拉条 */
::-webkit-scrollbar {
  display: none;
}

/* 可选：隐藏滚动条的轨道 */
::-webkit-scrollbar-track {
  display: none;
}

/* 可选：隐藏滚动条的滑块 */
::-webkit-scrollbar-thumb {
  display: none;
}

/* 调整VueLazyload的loading.gif大小 */
img[v-lazy][src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="] {
  width: 30px !important;
  height: 30px !important;
  object-fit: contain;
}

/* 通用loading图片样式 */
.lazy-loading {
  width: 30px !important;
  height: 30px !important;
  object-fit: contain;
}
